@model ApplicantModel

@{
    ViewData["Title"] = "Applicant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.Name @Model.Surname (@Model.Email)</h4>
<h6>User Id: @Model.Id</h6>
<hr />
<div class="container">
<div class="row">
    <dl class="col-6 col-sm-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFullBlocked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFullBlocked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

    </dl> 

    <div class="col-6 col-sm-3">
        <div>
            <label><b>Current specialities:</b></label>
            <ul>
                @if(Model.doctorInfos!=null && Model.doctorInfos.Any())
                {
                    foreach (var item in Model.doctorInfos)
                    {
                            @if (item.ForDeletion != true)
                            {
                                <li>
                                    @item.Speciality
                                </li>
                            }
                            else
                            {
                                <li>
                                    @item.Speciality (marked by user for deletion)
                                </li>
                            }
                    }
                }
            </ul>
        </div>

        <div>
            <label><b>Uploaded CV files:</b></label>
            <hr />
                <Table class="delivery">
                <tbody>
                @if(Model.fileDatas!=null && Model.fileDatas.Any())
                {
                  foreach (var item in Model.fileDatas)
                  {
                     <tr>
                       <td>
                            <a href="@item.Path"><i>@item.Name</i></a>
                       </td>
                       <td>
                            <i class="bi bi-x-circle"></i><a href="/adminpaneldoctor/applicantdetails/?id=@Model.Id&filedata=@item.Id&reflink=@Model.Reflink"><i>Delete</i></a>
                       </td>
                     </tr>
                  }                      
                }
                </tbody>
                </Table>
        </div>
    </div>

    <div>
     
    </div>

        @if (Model.SystemInfo != null)
        {
            <div>
                <p>
                    @Html.Raw(@Model.SystemInfo)
                </p>
            </div>
        }
</div>
</div>


@section Footer
{
   
    <div>
    <a href="~/adminpanel/userdetails/?id=@Model.Id&reflink=/adminpaneldoctor/applicantdetails/?id=@Model.Id"><h6>Edit user details &#5125</h6></a>
     @if (!string.IsNullOrEmpty(Model.Reflink))
        {
            <a href="@Model.Reflink"><h6>&#5130 Back</h6></a>
        }
        else
        {
            <a asp-controller="AdminPanelDoctor" asp-action="ApplicationIndex"><h6>&#5130 Back to applicant table</h6></a>
        }
    
    <br />
    </div>
}

