@model UserDto

<tr>
    <td area-label="Email">
        @Html.DisplayFor(modelItem => Model.Email)
    </td>
    <td area-label="Names">
        @Html.DisplayFor(modelItem => Model.Name) 
        @Html.DisplayFor(modelItem => Model.MidName)
    </td>
    <td area-label="Surname">
        @Html.DisplayFor(modelItem => Model.Surname)
    </td>
    <td area-label="Birth Date">
        @Html.DisplayFor(modelItem => Model.BirthDate) 
    </td>
    <td area-label="Gender">
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td area-label="IsFullBlocked">
        @Html.DisplayFor(modelItem => Model.IsFullBlocked)
    </td>
    <td area-label="IsFamilyDependent">
        @Html.DisplayFor(modelItem => Model.IsDependent)
    </td>
    <td area-label="IsOnline">
        @Html.DisplayFor(modelItem => Model.IsOnline)
    </td>
    <td area-label="Last Login">
        @Html.DisplayFor(modelItem => Model.LastLogin)
    </td>
    <td area-label="Roles">
        @if (Model.Roles!=null && Model.Roles.Any())
        {
            foreach (var item in Model.Roles)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                       @item.Name
                   </li>
               </ul>
            }
        }
    </td>
   
    <td>
        <span><a href="~/adminpaneldoctor/applicantdetails?id=@Model.Id&reflink=@ViewData["Reflink"]">View details</a></span>
    </td>

</tr>
