@model DoctorFullDataDto

<tr>
    <td area-label="Email">
        @Html.DisplayFor(modelItem => Model.Email)
    </td>
    <td area-label="Speciality">
        @if (string.IsNullOrEmpty(Model.SpecialityName))
        {
            string str = $"Removed ({Model.SpecNameReserved})";
            @Html.Raw(str);
        }
        else
        {
            @Html.DisplayFor(modelItem => Model.SpecialityName)
        }
    </td>
    <td area-label="Names">
        @Html.DisplayFor(modelItem => Model.Username) 
        @Html.DisplayFor(modelItem => Model.MidName)
    </td>
    <td area-label="Surname">
        @Html.DisplayFor(modelItem => Model.Surname)
    </td>
    <td area-label="Birth Date">
        @Html.DisplayFor(modelItem => Model.BirthDate) 
    </td>
    <td area-label="Gender">
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td area-label="IsSpecialityBlocked">
        @Html.DisplayFor(modelItem => Model.IsBlocked)
    </td>
    <td area-label="IsMarkedForDelete">
        @Html.DisplayFor(modelItem => Model.ForDeletion)
    </td>
    <td area-label="Roles">
        @if (Model.Roles!=null && Model.Roles.Any())
        {
            foreach (var item in Model.Roles)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                       @item.Name
                   </li>
               </ul>
            }
        }
    </td>
   
    <td>
        @if (!string.IsNullOrEmpty(Model.SpecialityName) && !Model?.SpecialityName!.Equals("Underfined")==true)
        {
            <span> <a class="btn btn-link" href="~/daytimetable/timetabledoctindex/?dataid=@Model?.Id&reflink=@ViewData["Reflink"]">DayTimeTables</a></span>

        }

        <br />
        <span> <a class="btn btn-link" href="~/adminpaneldoctor/doctordetails/?userid=@Model?.UserId&reflink=@ViewData["Reflink"]">Doctor details</a></span>
    </td>

</tr>
