@model DoctorFullDataDto

<tr>
    <td area-label="Speciality">      
        @Html.DisplayFor(modelItem => Model.SpecialityName)
    </td>
    <td area-label="Names">
        @Html.DisplayFor(modelItem => Model.Username) 
        @Html.DisplayFor(modelItem => Model.MidName)
    </td>
    <td area-label="Surname">
        @Html.DisplayFor(modelItem => Model.Surname)
    </td>
    <td area-label="Birth Date">
        @Html.DisplayFor(modelItem => Model.BirthDate) 
    </td>
  
    <td>
        <span> <a class="btn btn-link" href="~/daytimetable/timetabledoctindex/?dataid=@Model.Id&reflink=@ViewData["Reflink"]">DayTimeTables</a></span>
    </td>

</tr>
