@model DoctorSelectSpecModel

@{
    ViewData["Title"] = "Selelct Specialities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if(Model.Flag==2)
{
    <h1>Medical Data</h1>
    <h6>Select speciality in order to view patients' medical data</h6>
}
else
{
    <h1>Daytimetables</h1>
    <h6>Select speciality in order to view/modify corresponding daytimetable</h6>
}


 @if (Model.SystemInfo != null)
    {
        <div>
            <p>
                @Html.Raw(@Model.SystemInfo)
            </p>
        </div>
    }
<hr />
<div class="row">
    <div class="col-md-6">
        <Table class="delivery">
            <tbody>
                
                @if (Model.DoctorInfos != null && Model.DoctorInfos.Any())
                {
                    foreach (var item in Model.DoctorInfos)
                    {
                        @if(item.SpecialityId!=null && item.IsBlocked!=true  &&  item.ForDeletion!=true)
                        {
                            <tr>
                                <td>
                                    <b>Speciality Id: @item.SpecialityId</b>
                                </td>          
                                <td>
                                    @if(Model.Flag==2)
                                    {
                                        <i class="bi bi-check2-circle"></i>
                                        <a href="/appointment/patientviewindex/?dataid=@item.DoctorDataId&reflink=/daytimetable/selelctspec/"><i>@item.Speciality</i></a>
                                    }
                                    else
                                    {
                                        <i class="bi bi-check2-circle"></i>
                                        <a href="/daytimetable/timetabledoctindex/?dataid=@item.DoctorDataId&reflink=/daytimetable/selelctspec/"><i>@item.Speciality</i></a>
                                    }
                                    
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </Table>
        
    </div>

</div>

@section Footer
{
   
    <div>
        <a asp-controller="Home" asp-action="Index"><h6>&#5130 Back</h6></a>
    </div>
    <br />
}


