@model UserDto

<tr>

    <td area-label="Username">
        @Html.DisplayFor(modelItem => Model.Username)
    </td>
    <td area-label="Email">
        @Html.DisplayFor(modelItem => Model.Email)
    </td>
    <td area-label="Id">
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td area-label="Name">
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td area-label="MidName">
        @Html.DisplayFor(modelItem => Model.MidName)
    </td>
    <td area-label="Surname">
        @Html.DisplayFor(modelItem => Model.Surname)
    </td>
   @* <td area-label="Age">
        @Html.DisplayFor(modelItem => Model.Age) years
    </td>*@
    <td area-label="Sex">
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td area-label="Address">
        @Html.DisplayFor(modelItem => Model.Address)
    </td>
    <td>
        <span> <a class="btn btn-primary" href="~/customer/details/@Model.Id">View details</a></span>
    </td>

</tr>
