@model UserDto

<tr>

    <td area-label="Name">
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td area-label="MidName">
        @Html.DisplayFor(modelItem => Model.MidName)
    </td>
    <td area-label="Surname">
        @Html.DisplayFor(modelItem => Model.Surname)
    </td>
    <td area-label="Age">
        @Html.DisplayFor(modelItem => Model.Age) years
    </td>
    <td area-label="Gender">
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td area-label="Address">
        @Html.DisplayFor(modelItem => Model.Address)
    </td>
    <td area-label="Details">
        <span> <a class="btn btn-primary" href="~/userpanel/accsettings/@Model.Id">View details</a></span>
    </td>
    <td area-label="State">
        <span> <a class="btn btn-primary" href="~/familyaccount/setactiverelative/@Model.Id">Set active</a></span>
    </td>

</tr>
