@using MedContactApp.FilterSortHelpers;
@addTagHelper *, MedContactApp.FilterSortPageHelpers
@using MedContactApp.Helpers;
@addTagHelper *, MedContactApp


@model UserIndexViewModel

@{
    ViewData["Title"] = "Admin Users Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 <form method="get">
    <div class="form-group">
        <label for="adminmessage">@Model.FilterViewModel.MessageCaption</label>
        <textarea class="form-control" name="msg" id="adminmessage" type="text" rows="1" maxlength="512">@Model.FilterViewModel.Message</textarea>
    </div>
    @if (!string.IsNullOrEmpty(@Model.FilterViewModel.SysInfo))
    {
        <div class="form-group">
            <label for="sysinfo"><b>@Model.FilterViewModel.SysInfo</b></label>
        </div>
    }
    <Table class="delivery">
    <tbody>
    <tr>

            <td style="border:none">
                    @if (@Model.GrpCurrent == GroupState.FamilyGroupOn)
                    {
                        @Html.Raw(@Model.GroupIcon)

                    }
                  <a asp-controller="AdminPanel" asp-action="UserIndex"
                   asp-route-email="@Model.FilterViewModel.SelectedEmail"
                   asp-route-name="@Model.FilterViewModel.SelectedName"
                   asp-route-roleid="@(Model.FilterViewModel.SelectedRole)"
                   asp-route-sortorder="@(Model.SortViewModel.PrevState)"
                   asp-route-grouporder="@Model.GrpState">
                    Group by families </a>
                  </td>     
                  
            <td style="border:none">
                <label>Email: </label>
                <input name="email" value="@Model!.FilterViewModel.SelectedEmail" />
            </td>
            <td style="border:none">
                <label>Name/Surname: </label>
                <input name="name" value="@Model!.FilterViewModel.SelectedName" />
            </td>
            <td style="border:none">
                <label>Role: </label>
                <select name="role" asp-items="Model.FilterViewModel.Roles"></select>
            </td>
            <td style="border:none">
                 <button type="submit" class="btn btn-primary" value="Filter">Submit</button>
                @*<input type="submit" value="Filter"/>*@
            </td>
    </tr>
    </tbody>
    </Table>
 </form>


<Table class="delivery">  
    <caption>Customers Info Table</caption>
    <thead>
    <tr>
        <th>
            <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
             opt-url-grouporder="@(Model.GrpCurrent)"
             opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
             opt-url-name="@(Model.FilterViewModel.SelectedName)" opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.EmailSort">Email</sort-header>
 
        </th>
        <th>
            <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
             opt-url-grouporder="@(Model.GrpCurrent)"
             opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
             opt-url-name="@(Model.FilterViewModel.SelectedName)" opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
             current="@Model.SortViewModel.Current"property="@Model.SortViewModel.NameSort">Names</sort-header>
     
        </th>
        <th>
              <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
               opt-url-grouporder="@(Model.GrpCurrent)"
               opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
               opt-url-name="@(Model.FilterViewModel.SelectedName)" opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
               current="@Model.SortViewModel.Current" property="@Model.SortViewModel.SurnameSort">Surname</sort-header>

        </th>
        <th>
              <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
               opt-url-grouporder="@(Model.GrpCurrent)" 
               opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
               opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
               current="@Model.SortViewModel.Current" property="@Model.SortViewModel.BirthDateSort">Birth Date</sort-header>
     
        </th>
        <th>
              <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
               opt-url-grouporder="@(Model.GrpCurrent)"
               opt-url--url-email="@(Model.FilterViewModel.SelectedEmail)"
               opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
               current="@Model.SortViewModel.Current" property="@Model.SortViewModel.GenderSort">Gender</sort-header>
        </th>
        <th>
             <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
              opt-url-grouporder="@(Model.GrpCurrent)" 
              opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
              opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
              current="@Model.SortViewModel.Current" property="@Model.SortViewModel.IsFullBlockedSort">IsFullBlocked</sort-header>
        </th>
        <th>
             <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
              opt-url-grouporder="@(Model.GrpCurrent)"
              opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
              opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
              current="@Model.SortViewModel.Current" property="@Model.SortViewModel.IsFamilyDependentSort">IsFamilyDependent</sort-header>
        </th>
        <th>
             <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
              opt-url-grouporder="@(Model.GrpCurrent)"
              opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
              opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
              current="@Model.SortViewModel.Current" property="@Model.SortViewModel.IsOnlineSort">IsOnline</sort-header>
        </th>
         <th>
            <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
             opt-url-grouporder="@(Model.GrpCurrent)"
             opt-url-email="@(Model.FilterViewModel.SelectedEmail)"
             opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.LastLoginSort">Last Login</sort-header>
        </th>
        <th>
           Roles
        </th>
        <th>
           Details
         </th>
    </tr>
    <thead>
    <tbody>
    
        

@if (Model.Users.Any())
{
    foreach (var item in Model.Users)
    {
                        await Html.RenderPartialAsync("UserPartialView", item, ViewData);
    }
}

    </tbody>
</Table>


@section Footer
{

    @Html.GeneratePaginator( @Model.PageViewModel.TotalPages,@Model.PageViewModel.PageNumber,
                             @Model.PageViewModel.PageRoute, @Model.ProcessOptions)
 }


@section CssStyles
{
    <style>
       caption {
          caption-side: top;
          text-align: center;
          padding: 10px 0;
          font-size: 14px;}        
    </style>
}
