@using MedContactApp.FilterSortHelpers;
@addTagHelper *, MedContactApp.FilterSortPageHelpers
@using MedContactApp.Helpers;
@addTagHelper *, MedContactApp


@model UserIndexViewModel

@{
    ViewData["Title"] = "Admin Users Table"; 
}




<form method="get">
    <label>Name: </label>
    <input name="name" value="@Model!.FilterViewModel.SelectedName" />

    <label>Role: </label>
    <select name="role" asp-items="Model.FilterViewModel.Roles"></select>

    <input type="submit" value="Filter" />
</form>

<Table class="delivery">  
    <caption>Customers Info Table</caption>
    <thead>
    <tr>
        <th>
            <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
             opt-url-name="@(Model.FilterViewModel.SelectedName)" opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.EmailSort">Email</sort-header>
 
        </th>
        <th>
            <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
             opt-url-name="@(Model.FilterViewModel.SelectedName)" opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
             current="@Model.SortViewModel.Current"property="@Model.SortViewModel.NameSort">Name</sort-header>
     
        </th>
        <th>
           Middle Name
        </th>
        <th>
              <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
               opt-url-name="@(Model.FilterViewModel.SelectedName)" opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
               current="@Model.SortViewModel.Current" property="@Model.SortViewModel.SurnameSort">Surname</sort-header>

        </th>
        <th>
              <sort-header action="UserIndex" up="@Model.SortViewModel.Up"
               opt-url-name="@(Model.FilterViewModel.SelectedName)"  opt-url-roleid="@(Model.FilterViewModel.SelectedRole)"
               current="@Model.SortViewModel.Current" property="@Model.SortViewModel.BirthDateSort">Birth Date</sort-header>
     
        </th>
        <th>
           Roles
        </th>
        <th>
           Address
        </th>
        <th>
           Details
         </th>
    </tr>
    <thead>
    <tbody>
    
        

@if (Model.Users.Any())
{
    foreach (var item in Model.Users)
    {
        await Html.RenderPartialAsync("UserPartialView", item);
    }
}

    </tbody>
</Table>


@section Footer
{

    @Html.GeneratePaginator( @Model.PageViewModel.TotalPages,@Model.PageViewModel.PageNumber,
                             @Model.PageViewModel.PageRoute, @Model.ProcessOptions)
 }


   



@section CssStyles
{
    <style>
       caption {
          caption-side: top;
          text-align: center;
          padding: 10px 0;
          font-size: 14px;}        
    </style>
}
